
<div class="page-header">
  <h1 class="text-center text-success"> TODO List </h1>
</div>

<button class="btn btn-primary btn-block" (click)="addNew()">Add New</button>
<ul class="list-group">
  <ng-template ngFor let-todo [ngForOf]="todos">
    <li class="list-group-item">
      <div class="row">
        <app-todo-element [todo]="todo"></app-todo-element>
        <button class="btn btn-danger btn-md col-sm-1" (click)="delElement(todo)">Delete</button>
      </div>
    </li>
  </ng-template>
</ul>
